body {
  background-color: #dfdfd0;
}
.tbody {
  /*background-color: cornflowerblue;*/
  padding:3em;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.table {
    border-collapse: collapse;
    margin: 15px 0;
}

.td, .th {
    border: none;
    padding: 5px 10px;

}
.coffee {
  /*border-bottom: lime 10px solid; */
  display: flex;
  background-color: lightgreen;
  width: 18rem;
}
.coffeeCard {
  display: flex;

}

.coffeeName {
    font-weight:bold;
    font-size:20px;
    color: blue;
}


.coffeeRoast
{
font-weight: normal;
    font-size:12px;
    color:red;
}



.coffeeForm{
  background-color: firebrick;
}

#findCoffee {

}

#newCoffee {

}
#grad {
    background-image: linear-gradient(#666666, #dfdfd0);
}


.jumbotron {
    background-image: url("img/clouds.gif");
    background-size: 100%;
    background-repeat: no-repeat;
    object-fit: cover;
    height: 28em;
    margin-top: -8em;
    border-bottom: black solid 5px;
    display: flex;

    /*border-image-source: linear-gradient(to left, #743ad5, #d53a9d);*/

    /*border-image: linear-gradient(to bottom, red, rgba(0, 0, 0, 0)) 1 100%;*/
}

.jumboText {
  margin-top: 5em;
  margin-left: 0;
  margin-right: 0;
  width: 100%;
  display: flex;
  align-content: space-between;
}


.jumboHead {
  background-image: linear-gradient(200deg, blue, red, yellow);
  color: white;
}
/*.movingClouds {*/
/*    height: 33%;*/
/*    position: absolute;*/
/*    top: 0;*/
/*    width: 100%;*/
/*    object-fit: cover;*/
/*    z-index: -10;*/
/*}*/
