.tbody {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}
.table {
    border-collapse: collapse;
    margin: 15px 0;
}

.td, .th {
    border: none;
    padding: 5px 10px;

}
.coffee {
  /*border-bottom: lime 10px solid; */
  display: flex;
  background-color: lightgreen;
  width: 18rem;
}
.coffeeCard {
  display: flex;

}

.coffeeName {
    font-weight:bold;
    font-size:20px;
    color: blue;
}


.coffeeRoast
{
font-weight: normal;
    font-size:12px;
    color:red;
}

.tbody {
  /*background-color: cornflowerblue;*/
  padding:3em;
}

.coffeeForm{
  background-color: firebrick;
}

#findCoffee {

}

#newCoffee {

}

